<a href="/#" class="logo">
    <span class="logo-mini"><b>P</b>AP</span>
    <span class="logo-lg"><i class="fa fa-leaf"></i><b>Primeira</b>APP</span>
</a>


<nav class="navbar navbar-static-top">
    <a class="sidebar-toggle" data-toggle="offcanvas" href="http://"></a>
</nav>